.navbar{
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    padding: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

.nav{
    display: flex;
    text-decoration: none;
    column-gap: 16px;
    list-style: none;
}
